.App {
  overflow: auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: #767071;
  background-image: url('luke-bg.jpg');
  background-size: 100%;
}

.Menu {
  color: #ea394f;
  font-size: 20px;
  font-weight: 500;
  height: 80px;
  line-height: 80px;
  background: rgba(255, 255, 255, 0.90);
  padding-right: 40px;
}

.Menu__link {
  float: right;
  margin-right: 20px;
}

.IntroPanel {
  overflow: auto;
  background: #fff;
  background: rgba(255, 255, 255, 0.90);
  padding-bottom: 100px;
}

.larger {
  color: #ea394f;
  font-weight: 500;
  font-size: 44px;
}

.regular {
  font-weight: 300;
  color: #625c5c;
}

.CircleImage {
  margin-top: 40px;
  border-radius: 100%;
  width: 320px;
  height: 320px;
  float: right;
  overflow: hidden;
}

.CircleImage img {
  margin-left: -56px;
  width: 500px;
}

.AboutPanel {
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 180px 0;
}

.jslogo {
  width: 100%;
}

.container {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 0;
    margin: 0 auto;
    width: 80%;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0;
    margin: 0 auto;
    width: 70%;
  }
}

.col-8 {
  float: left;
  width: 60.3333333%;
  margin-left: 6%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-4 {
  float: left;
  width: 33.3333333%;
}
